.header {
  border: solid black;
}

.title {
  border: solid orange;
}

.nav {
  border: solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav > p {
  margin-left: 10px;
  margin-right: 10px;
}

.main {
  border: solid yellow;
}

.about-me {
  border: solid red;
}

.skills {
  border: solid grey;
}

.projects {
  border: solid pink;
}

.resume {
  border: solid green;
}


.footer {
  border: solid purple;
}
