/* @import url('https://fonts.googleapis.com/css2?family=Allison&family=Playfair+Display&family=Playfair+Display+SC&display=swap'); */
/* background-color: #5D5C61;
background-color: #379683;
background-color: #7395AE;
background-color: #557A95;
background-color: #B1A296; */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Ephesis&display=swap'); */

h2 {
  font-size: calc(50px + 1vw);
  font-family: 'Ephesis', cursive;
  letter-spacing: 0.1em;
}

.App {
  border: solid black;
  background-color: #557A95;
  color: white;
  font-family: sans-serif;
  /* width: 98vw; */
}

@media screen and (max-width: 1440px) {
  .App {
    max-width: 1440px;
  }
}

.header {

}

.title {
}
.nav {
  padding: 2% 10% 2% 15%;
  /* padding: 2% 15% 2% 15%; */
  background-color: #557A95;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav > a {
  margin-left: 50px;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
@media screen and (max-width: 700px) {
  .nav > a {
    margin-left: 10px;
    font-size: 15px;
  }
  .nav {
    padding: 2% 2% 2% 0%;
  }
}
/* ========================== About Me =====================================*/
.about-me {
  background-color: #5D5C61;
  padding: 5% 7% 5% 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 98vw; */
}

.about-me > img {
  width: 600px;
}

.about-me > .about-me-text {
  width: 440px;
  padding-left: 30px;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about-me-text > p {
  line-height: 1.3em;
  font-size: 18px;
  margin-bottom: -8px;
  /* padding-right: 50px; */
}

.last-p {
  padding-bottom: 15px;
}

strong {
  /* font-size: 30px; */
}

@media screen and (max-width: 700px) {
  .about-me > img {
    width: 100%;
  }
  .about-me > .about-me-text{
    margin-left: 10vw;
    margin-right: 10vw;
    padding-left: 0px;
  }
  .about-me-text > p {
    font-size: calc(12px + 1vw);
  }
  .about-me-text > h2 {
    font-size: calc(40px + 1vw);
    margin-bottom: 1px;
  }
}

/* ========================== Skills =====================================*/
/* <section className="Skills-section">
  <div className="Skills" id="skills">
      <h2>Skills</h2>
  </div>
  <div className="skills-p">
    <p id="skills-p">
  <div className="skills-imgs">
    <img */

.Skills-section{
  margin: 0 auto;
  /* border: solid blue; */
  /* padding: 0 18% 0 18%; */

}

.Skills {
  background-color: #557A95;
  color: white;
  /* padding: 0 18% 0 18%; */
  /* background-color: red; */
    text-align: right;
    padding-right: 25%;
      padding-left: 25%;
}

.Skills > h2 {
  margin-bottom: 30px;


    /* border: solid red; */
}
.skills-p{
  text-align: right;
  padding-right: 25%;
    padding-left: 25%;
}
#skills-p {
    /* border: solid purple; */
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: 0px;
  background-color: white;
  color: #557A95;
  /* font-weight: bold; */
  padding: 1% 0% 2% 0%;
  background-color: #557A95;
  color: white;
    font-size: 18px;

}

.skills-imgs {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 28% 0 28%;
  /* margin: 0 26% 0 18%; */
  border: solid #557A95;
  max-width: 1440px;
  min-height: 350px;
  /* border: solid pink; */
  padding-right: 25%;
    padding-left: 25%;
}

.skills-imgs > img {
  width: 75px;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .Skills {
    padding: 0 20% 0 20%;
  }
  .Skills > h2 {
    font-size: calc(40px + 1vw);
    text-align: left;
  }
  .skills-p {
    padding: 0 20% 0 20%;
    text-align: left;
  }
  #skills-p {
    font-size: calc(12px + 1vw);
  }

  .skills-imgs > img {
    width: 22%;
    margin: 8px;
    padding: 0;
  }
}

/* ========================== Showcase =====================================*/

.Showcase {
  background-color: #557A95;
  color: white;
  background-color: #B1A296;
  background-color: #5D5C61;
  padding-bottom: 20px;
  /* border: solid #557A95; */
}

.Showcase > h2 {
  padding: 5% 18% 0 18%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:  0 11% 0 11%;
  margin-bottom: 200px;
  /* border: solid red; */
}

.info {
  /* border: solid yellow; */
  /* vertical-align: text-top;
  vertical-align: top; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 310px;
  height: 100%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.info-text {
  /* border: solid purple; */
  /* text-align: justify; */
  /* vertical-align: text-top; */
  vertical-align: text-bottom;
  /* vertical-align: top; */
  /* height: 100px; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.info-text > p {
    font-size: 17px;
    line-height: 1.3em;
    margin: 20px 20px 20px 20px;
    /* border: solid blue; */
}

.info-tec {
  /* border: solid red; */
}

#tec-used {
  text-align: center;
  /* border: solid purple; */
}

.tec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 45px 20px 45px;
  border: solid black;
}

#P1-tec{
  border: solid #AF9D87;
}

#P2-tec{
  border: solid lightblue;
}

#P3-tec{
  border: solid #c9d5c3;
}
#P4-tec{
  border: solid #D0BAC4;
}
.tec > p {
  /* border: solid red; */
  margin: 10px;

}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    margin: 0px 20px 0 20px;
  /* border: solid black; */
}
#P3 {
  width: 765px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#P4 {
  width: 580px;
  /* height: 620px; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#P2 {
  width: 765px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#P1 {
  width: 765px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  color: white;
  border-radius: 25px;
  /* border-color: inherit; */
  background-color: green;
}
button > a {
  color: white;
}
button:hover {
  background-color: #9291c7;
  border: 1px solid #9291c7;
  color: green;
}
#P1-btn {
  background-color: #826644;
}
#P1-btn:hover {
  background-color: #AF9D87;
}
#P2-btn {
  background-color: #557884;
}
#P2-btn:hover {
  background-color: lightblue;
}

#P3-btn {
  background-color: #759168;
}
#P3-btn:hover {
  background-color: #c9d5c3;
}

#P4-btn {
  background-color: #ac8697;
}
#P4-btn:hover {
  background-color: #D0BAC4;
}

.backtotop {
  text-align: center;
}
.backtotop > a > img {
  width: 40px;
  margin-bottom: -10px;
}
.backtotop > a {
  text-decoration: none;
  color: black;
}

 @media screen and (max-width: 1400px) {
   .projects > div > .info > .info-text > p {
     margin-top: 70px;
   }
   .info {
     /* border: solid yellow; */
     flex-direction: row;
      width: 765px;
   }
   .info-tec {
       margin-top: 50px;
   }
 }

 @media screen and (max-width: 900px) {
   #P3, #P2, #P4 {
     width: 100%;
   }
   .info {
     width: 100%;
   }
 }
 @media screen and (max-width: 700px) {

   .projects > div > .info > .info-text > p {
     font-size: calc(12px + 1vw);
   }

   #P3, #P2, #P4, #P1 {
     width: 90vw;
   }

   .info {
     width: 90vw;
     flex-direction: column;
     /* margin-top: -20px; */
   }
   .info-tec {
      margin-top: 5px;
   }
   .info-text {
  margin-top: -40px;
     /* border: solid pink; */

   }
   .Showcase > h2 {
     font-size: calc(40px + 1vw);
     text-align: left;
     padding-top: 35px;
     margin-bottom: 15px;
   }
 }

/* ========================== Footer =====================================*/

footer {
  padding: 2% 15% 2% 15%;
  background-color: #557A95;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright-fun > p > span {
  padding-left: 10px;
  opacity: 0.07;
}
/* ========================== Nav ====================================*/
.nav-links {
  display: flex;
  flex-direction: row;
}

.link {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.link > p {
  margin-left: 20px;
  color: black;
  font-size: 12px;
  margin-top: 1px;
  text-align: center;
}
.link > img {
  margin-left: 20px;
  width: 40px;
}

.pdf > img{
  width: 35px;
}
.email > img{
 width: 47px;
 margin-top: -5px;
}
.email > p{
   margin-top: -2px;
}

 @media screen and (max-width: 700px) {
   footer {
    flex-direction: column;
    justify-content: space-between;
   }
   .copyright-fun {
     margin-left: 20px;
   }
   .copyright-fun > p > span {
     margin-left: 15px;
   }
   .link {
     margin-left: -0px;
   }
   .link > img  {
       width: 22px;
   }
   .link > p {
     font-size: 8px;
     margin-top: 3px;
   }
   .email > img{
    width: 26px;
    margin-top: 0px;
   }
   .email > p{
      margin-top: -2px;

   }

 }
